<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Ask a Question</li>
</ul>

<div class="alert alert-success" ng-show="data.saved">
    <strong>Success!</strong> Your question has been saved.
</div>
<div class="alert alert-danger" ng-show="data.error">
    <strong>Error!</strong> Your question was not saved. Please try again.
</div>

<div class="question-answer">
    <div>
        <h3>What's on your mind?</h3>
        <form id="askQuestion" name="askQuestion">
            <div>
                <textarea id="question" name="question" ng-model="data.question.question"></textarea>
            </div>
            <div>
                <a class="btn btn-primary" ng-disabled="data.question.question.length === 0" ng-click="saveQuestion(data.question)">Ask</a>
            </div>
        </form>
    </div>
</div>