<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/questions">Questions</a></li>
    <li class="active">{{data.question.question}}</li>
</ul>

<div class="alert alert-success" ng-show="data.saved">
    <strong>Success!</strong> Your answer has been saved.
</div>
<div class="alert alert-danger" ng-show="data.error">
    <strong>Error!</strong> Your answer was not saved. Please try again.
</div>

<div class="question-answer" ng-show="data.question.id">
    <div>
        <h3>{{data.question.question}}</h3>
        <form id="question_{{data.question.id}}" name="question_{{data.question.id}}">
            <div>
                <textarea id="question" name="question" ng-model="data.question.answer"></textarea>
            </div>
            <div>
                <a class="btn btn-primary" ng-disabled="data.question.answer.length === 0 || data.formSubmitted === true" ng-click="answerQuestion(data.question)">Answer</a>
            </div>
        </form>
    </div>
</div>