body {
    padding-top: 50px;
}
.view-container {
    padding: 40px 15px;
    text-align: center;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

#question {
    width: 500px;
    height: 100px;
}

.breadcrumb {
    margin-top: -40px;
}
